<div class="container" style="height: 100%">
  <div class="row align-items-center justify-content-md-center" style="height: 100%">
    <div class="col-md-4">
      <div class="loginBackground">
          <form class="form-signin" (ngSubmit)="userLoginInfo()" #signinForm="ngForm" novalidate>
              <p>Is "myForm" valid? {{signinForm.valid}}</p>
              <h3 class="form-signin-heading">Please sign in</h3>
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" id="inputEmail" name="inputEmail" [(ngModel)]="userlogin.userEmail"
                  class="form-control" placeholder="Email address" autofocus="true"
                  #userEmail="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <div [hidden]="userEmail.valid || userEmail.pristine" class="alert alert-danger">
                Email is required
             </div>

              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" name="inputPassword" [(ngModel)]="userlogin.userPassword"
                  class="form-control" placeholder="Password"
                  #userPassword="ngModel" required>
              <div [hidden]="userPassword.valid || userPassword.pristine" class="alert alert-danger">
                  Password is required
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!signinForm.form.valid">Sign in</button>
            </form>
      </div>
    </div>
  </div>
</div>
